<!--[if lte IE 7]><div class="IE7"><![endif]-->
<div class="FilterControl">
    <div id="newsFilterVisible" class="FilterControlVisible">
        <div id="newsFiltersBg" class="FilterControlSemaphore"></div>
        <ul>


            <li class="{{selectedIfEqual type 0}}"><span class="ToolTip" style="z-index: 30;">All</span><a href="/news/list/0/1"><img src="https://web.archive.org/web/20120711064917im_/http://www.runescape.com/img/global/FilterControl/all_categories.png" alt="All" title=""></a></li>


            <li class="{{selectedIfEqual type 1}}"><span class="ToolTip" style="z-index: 30;">Game Update</span><a href="/news/list/1/1"><img src="https://web.archive.org/web/20120711064917im_/http://www.runescape.com/img/global/FilterControl/game_updates.png" alt="Game Update" title=""></a></li>


            <li class="{{selectedIfEqual type 2}}"><span class="ToolTip" style="z-index: 30;">Web/API Updates</span><a href="/news/list/2/1"><img src="https://web.archive.org/web/20120711064917im_/http://www.runescape.com/img/global/FilterControl/website.png" alt="Website" title=""></a></li>


            <li class="{{selectedIfEqual type 3}}"><span class="ToolTip" style="z-index: 30;">Community Updates</span><a href="/news/list/3/1"><img src="https://web.archive.org/web/20120711064917im_/http://www.runescape.com/img/global/FilterControl/customer_support.png" alt="Customer Support" title=""></a></li>


            <li class="{{selectedIfEqual type 4}}"><span class="ToolTip" style="z-index: 30;">Engine Updates</span><a href="/news/list/4/1"><img src="https://web.archive.org/web/20120711064917im_/http://www.runescape.com/img/global/FilterControl/technical.png" alt="Technical" title=""></a></li>
        </ul>
    </div>
    <div id="newsFilterMask" class="FilterControlMask"></div>
</div>
<!--[if lte IE 7]></div><![endif]-->
