<div id="NewsArticles">
    {{#each articles}}
    <div class="Article {{ifNotFirstArticleCollapse @index}}"><div>
        <div class="NewsHeaderImage">
            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/NoImage.jpg" alt="" title="">
            <div></div>
        </div>
        <a class="ArticleControl HoverImg ControlMinus">
            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Minus.png" alt="Close" title="Close">
        </a>
        <a class="ArticleControl HoverImg ControlPlus">
            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Plus.png" alt="Open" title="Open">
        </a>
        <div class="CollapsedMask"></div>
        {{> news/UpdateIcon article=this }}
        <div class="Title">
            <a href="news/{{this.slug}}"><h4 class="FlatHeader">{{this.title}}</h4></a>
            <br style="clear:both">
            <span>{{formatDateForNews this.createdAt}}</span>
        </div>
        <div class="Content">
            {{this.description}}
        </div>
<!--        <span class="SNbutton"><span class="left"></span><span class="middle"><span class="contentHolder"><a class="facebook SB_link" href="https://web.archive.org/web/20120311002458/http://facebook.com/sharer.php?u=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fplayer-armour-gnomes-and-clan-fealty" target="_blank" title="Add this page to Facebook"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/SNfacebook.png" alt="Facebook" title="Facebook"><span class="SB_label">Facebook</span></a><a href="https://web.archive.org/web/20120311002458/http://twitter.com/share?text=Player Armour, Gnomes and Clan Fealty&amp;url=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fplayer-armour-gnomes-and-clan-fealty" target="_blank" class="twitter SB_link"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/SNtwitter.png" alt="Twitter" title="Twitter"><span class="SB_label">Twitter</span></a></span><span class="right">Share</span></span></span>-->
        <a class="HoverImg More" href="news/{{this.slug}}"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/ReadMore.png" alt="" title=""></a>
    </div></div>
    {{/each}}
</div>
