{{display highscores.data}}
<div class="tableContainer cssTableSmall">
    <div class="hiscoresBoxTopLeft"></div>
    <div class="hiscoresBoxTopRight"></div>
    <div class="tableInnerContainer">
        <div class="header">
            <span class="columnRank">Rank</span>
            <span class="columnName">
                                                            <span>Name</span>
                                                        </span>
            <span class="columnLevel">
                                                            <span>Level</span>
                                                        </span>
            <span class="columnXp">
                                                            <span>XP</span>
                                                        </span>
        </div>
        {{#each highscores.data}}
            <a name="1"></a>
            <a href="compare.ws?user1=S&nbsp;U&nbsp;&nbsp;O&nbsp;&nbsp;M&nbsp;I"
               class="row  ">
                <span class="columnRank">
                    <span>{{formatNum (add @index 1)}}</span>
                </span>
                <span class="columnName">
                    <span>{{this.displayName}}</span>
                </span>
                <span class="columnLevel">
                    <span>{{formatNum (getHSSkillLevel this skill)}}</span>
                </span>
                <span class="columnXp">
                    <span>{{formatNum this.totalXp}}</span>
                </span>
            </a>
        {{/each}}

<!--        <a name="2"></a>-->
<!--        <a href="compare.ws?user1=Jake" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>2</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Jake</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>3,579,061,938</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="3"></a>-->
<!--        <a href="compare.ws?user1=Elias" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>3</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Elias</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>3,422,938,842</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="4"></a>-->
<!--        <a href="compare.ws?user1=Elvis" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>4</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Elvis</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>3,392,085,864</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="5"></a>-->
<!--        <a href="compare.ws?user1=Skit&nbsp;Shape" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>5</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Skit&nbsp;Shape</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>3,341,167,002</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="6"></a>-->
<!--        <a href="compare.ws?user1=Telmomarques" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>6</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Telmomarques</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,871,022,300</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="7"></a>-->
<!--        <a href="compare.ws?user1=AlmostLost" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>7</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>AlmostLost</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,722,565,051</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="8"></a>-->
<!--        <a href="compare.ws?user1=Kingduffy" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>8</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Kingduffy</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,616,928,681</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="9"></a>-->
<!--        <a href="compare.ws?user1=Paulrat3" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>9</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Paulrat3</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,479,627,258</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="10"></a>-->
<!--        <a href="compare.ws?user1=Kngkyle" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>10</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Kngkyle</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,464,629,144</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="11"></a>-->
<!--        <a href="compare.ws?user1=Pope712" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>11</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Pope712</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,428,293,710</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="12"></a>-->
<!--        <a href="compare.ws?user1=Da&nbsp;Broman1" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>12</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Da&nbsp;Broman1</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,399,064,632</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="13"></a>-->
<!--        <a href="compare.ws?user1=Green098" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>13</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Green098</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,389,213,864</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="14"></a>-->
<!--        <a href="compare.ws?user1=Dragonseance" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>14</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Dragonseance</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,295,278,045</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="15"></a>-->
<!--        <a href="compare.ws?user1=Number1&nbsp;Boss" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>15</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Number1&nbsp;Boss</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,185,350,148</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="16"></a>-->
<!--        <a href="compare.ws?user1=Robbie" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>16</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Robbie</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,150,146,296</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="17"></a>-->
<!--        <a href="compare.ws?user1=Season" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>17</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Season</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,135,539,096</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="18"></a>-->
<!--        <a href="compare.ws?user1=Simon" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>18</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Simon</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,121,670,249</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="19"></a>-->
<!--        <a href="compare.ws?user1=Skiller&nbsp;703" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>19</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Skiller&nbsp;703</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,117,955,957</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="20"></a>-->
<!--        <a href="compare.ws?user1=Bing12342001" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>20</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Bing12342001</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,102,670,607</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="21"></a>-->
<!--        <a href="compare.ws?user1=Piddy10" class="row  ">-->
<!--<span class="columnRank">-->
<!--<span>21</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Piddy10</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,080,589,969</span>-->
<!--</span>-->
<!--        </a>-->

<!--        <a name="22"></a>-->
<!--        <a href="compare.ws?user1=Athymy" class="row   last-row">-->
<!--<span class="columnRank">-->
<!--<span>22</span>-->
<!--</span>-->
<!--            <span class="columnName">-->
<!--<span>Athymy</span>-->
<!--</span>-->
<!--            <span class="columnLevel">-->
<!--<span>2,496</span>-->
<!--</span>-->
<!--            <span class="columnXp">-->
<!--<span>2,079,473,382</span>-->
<!--</span>-->
<!--        </a>-->

        <div class="PageControlAdvanced">
            <div class="PageControlAdvancedLeft">
                <div class="PageControlAdvancedLast PageControlAdvancedDisabled">
                    <img src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/page_control/advanced/Arrow_left.png">
                </div>
                <div class="PageControlAdvancedDisabled">
                    <img src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/page_control/advanced/Arrow_left.png">
                </div>
            </div>
            <div class="PageControlAdvancedMiddle ">
                <ul>
                    <li class="PageControlAdvancedEllipse"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li class="InputField">
                        <form method="post"
                              action="?table=0&amp;category_type=0">
                            <div class="PageInput">
                                <input type="text" name="page" value="1"
                                       maxlength="6">
                                <input type="submit" name="grrclient"
                                       value="grr"
                                       style="width:0px;height:0px;padding:0px;margin:0px;font-size:0px;border:0px;float: left;">
                            </div>
                        </form>
                    </li>

                    <li>
                        <a href="?table=0&amp;category_type=0&amp;page=2">2</a>
                    </li>

                    <li>
                        <a href="?table=0&amp;category_type=0&amp;page=3">3</a>
                    </li>

                    <li>
                        <a href="?table=0&amp;category_type=0&amp;page=4">4</a>
                    </li>

                    <li>
                        <a href="?table=0&amp;category_type=0&amp;page=5">5</a>
                    </li>

                    <li class="PageControlAdvancedEllipse">
                        <a href="?table=0&amp;category_type=0&amp;page=6">...</a>
                    </li>
                </ul>
            </div>
            <div class="PageControlAdvancedRight">
                <a class="PageControlAdvancedLast HoverImgJs"
                   href="?table=0&amp;category_type=0&amp;page=67819">
                    <img src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/page_control/advanced/Arrow_right.png"><img
                        src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/page_control/advanced/Arrow_right.png"
                        class="HoverImgJsFg">
                </a> <a class="HoverImgJs"
                        href="?table=0&amp;category_type=0&amp;page=2">
                <img src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/page_control/advanced/Arrow_right.png"><img
                    src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/page_control/advanced/Arrow_right.png"
                    class="HoverImgJsFg">
            </a>
            </div>
        </div>
    </div>
    <div class="hiscoresBoxBottomLeft"></div>
    <div class="hiscoresBoxBottomRight"></div>
</div>
