<!DOCTYPE html>
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase no-indexeddb hashchange history draganddrop
 websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns
 cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface video audio localstorage sessionstorage webworkers
 no-applicationcache svg inlinesvg smil svgclippaths">
<head>
    {{> Globals}}
    {{#if news}}
        <link href="/page-specific-css/news-50.css" rel="stylesheet">
        <link href="/page-specific-css/article-50.css" rel="stylesheet">
        {{else if beginnersGuide}}
            <link rel="stylesheet" type="text/css" href="page-specific-css/beginnersguide-50.css">
        {{else if world}}
            <link rel="stylesheet" type="text/css" href="https://web.archive.org/web/20120731001805cs_/http://www.runescape.com/css/world_locations-52.css">
            <script src="/javascripts/world.js" type="text/javascript"></script>
        {{else if heroes}}
            <link href="https://web.archive.org/web/20120620024338cs_/http://www.runescape.com/css/hiscores_global-54.css" rel="stylesheet">
            <link href="/page-specific-css/highscores_heroes-54.css" rel="stylesheet">
        {{else if downloads}}
            <link rel="stylesheet" type="text/css" href="https://web.archive.org/web/20120718053538cs_/http://www.runescape.com/css/downloads-50.css">
        {{else if highscore}}
            <link href="/page-specific-css/highscores_global-54.css" rel="stylesheet">
            <link href="https://web.archive.org/web/20120608083454cs_/http://www.runescape.com/css/hiscores-54.css" rel="stylesheet">
        {{else if playerHighscore}}
            <link href="/page-specific-css/highscores_global-54.css" rel="stylesheet">
            <link href="https://web.archive.org/web/20120116232024cs_/http://www.runescape.com/css/hiscores_compare-51.css" rel="stylesheet">
            <script src="https://web.archive.org/web/20120116232024js_/http://www.runescape.com/js/hiscores_global-50.js"></script>
        {{else}}
            <link href="/page-specific-css/community-63.css" rel="stylesheet">
            <script src="/javascripts/community.js" type="text/javascript"></script>
    {{/if}}
</head>
  <body>
    {{{body}}}
  </body>
</html>
