<div class="InPageDropDownNew NoJS CSS3 width150" id="skillsDropDown"
     data-expand="488px">
    <div class="Mask"></div>
    <div class="DropListWrapper" data-retract="-460px">
        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/DropDownFlourish.webp"
             class="Flourish" alt="">
        <span class="firstValue">{{skill}}</span>
        <ul>
            <li>
                <a href="/temporal-highscores/Overall/{{firstDayPast}}/{{secondDayPast}}/1">Overall</a>
            </li>
            <li>
                <a href="/temporal-highscores/Attack/{{firstDayPast}}/{{secondDayPast}}/1">Attack</a>
            </li>
            <li>
                <a href="/temporal-highscores/Defence/{{firstDayPast}}/{{secondDayPast}}/1">Defence</a>
            </li>
            <li>
                <a href="/temporal-highscores/Strength/{{firstDayPast}}/{{secondDayPast}}/1">Strength</a>
            </li>
            <li>
                <a href="/temporal-highscores/Constitution/{{firstDayPast}}/{{secondDayPast}}/1">Constitution</a>
            </li>
            <li>
                <a href="/temporal-highscores/Ranged/{{firstDayPast}}/{{secondDayPast}}/1">Ranged</a>
            </li>
            <li>
                <a href="/temporal-highscores/Prayer/{{firstDayPast}}/{{secondDayPast}}/1">Prayer</a>
            </li>
            <li>
                <a href="/temporal-highscores/Magic/{{firstDayPast}}/{{secondDayPast}}/1">Magic</a>
            </li>
            <li>
                <a href="/temporal-highscores/Cooking/{{firstDayPast}}/{{secondDayPast}}/1">Cooking</a>
            </li>
            <li>
                <a href="/temporal-highscores/WoodCutting/{{firstDayPast}}/{{secondDayPast}}/1">Woodcutting</a>
            </li>
            <li>
                <a href="/temporal-highscores/Fletching/{{firstDayPast}}/{{secondDayPast}}/1">Fletching</a>
            </li>
            <li>
                <a href="/temporal-highscores/Fishing/{{firstDayPast}}/{{secondDayPast}}/1">Fishing</a>
            </li>
            <li>
                <a href="/temporal-highscores/Firemaking/{{firstDayPast}}/{{secondDayPast}}/1">Firemaking</a>
            </li>
            <li>
                <a href="/temporal-highscores/Crafting/{{firstDayPast}}/{{secondDayPast}}/1">Crafting</a>
            </li>
            <li>
                <a href="/temporal-highscores/Smithing/{{firstDayPast}}/{{secondDayPast}}/1">Smithing</a>
            </li>
            <li>
                <a href="/temporal-highscores/Mining/{{firstDayPast}}/{{secondDayPast}}/1">Mining</a>
            </li>
            <li>
                <a href="/temporal-highscores/Herblore/{{firstDayPast}}/{{secondDayPast}}/1">Herblore</a>
            </li>
            <li>
                <a href="/temporal-highscores/Agility/{{firstDayPast}}/{{secondDayPast}}/1">Agility</a>
            </li>
            <li>
                <a href="/temporal-highscores/Thieving/{{firstDayPast}}/{{secondDayPast}}/1">Thieving</a>
            </li>
            <li>
                <a href="/temporal-highscores/Slayer/{{firstDayPast}}/{{secondDayPast}}/1">Slayer</a>
            </li>
            <li>
                <a href="/temporal-highscores/Farming/{{firstDayPast}}/{{secondDayPast}}/1">Farming</a>
            </li>
            <li>
                <a href="/temporal-highscores/Runecrafting/{{firstDayPast}}/{{secondDayPast}}/1">Runecrafting</a>
            </li>
            <li>
                <a href="/temporal-highscores/Hunter/{{firstDayPast}}/{{secondDayPast}}/1">Hunter</a>
            </li>
            <li>
                <a href="/temporal-highscores/Construction/{{firstDayPast}}/{{secondDayPast}}/1">Construction</a>
            </li>
            <li>
                <a href="/temporal-highscores/Summoning/{{firstDayPast}}/{{secondDayPast}}/1">Summoning</a>
            </li>
            <li>
                <a href="/temporal-highscores/Dungeoneering/{{firstDayPast}}/{{secondDayPast}}/1">Dungeoneering</a>
            </li>
        </ul>
    </div>
</div>
