<div id="hiscoreHeroPlayers">
    <div id="fire" style="visibility: visible;"></div>
    <div class="hiscoreHeroTitle">
        <h4><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/hall-of-heroes.webp" alt="Hall of Heroes" title=""></h4>
        <h5><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/top-10-players.webp" alt="Top 10 Players" title=""></h5>
        <a href="/highscores" class="Button Button29"><span><span><span class=""><b>View Full Player Rankings</b></span></span></span></a> </div>
    <div id="hiscoreHeroPlayerContainer">
        <a id="player1" href="/highscores-player/{{getKeyFromTemporal highscores.data.snapshot.[0]}}">
            <span class="PlayerInfoTitle" data-displayname="S%A0U%A0%A0O%A0%A0M%A0I"></span>
            {{getKeyFromTemporal highscores.data.snapshot.[0]}}
        </a>
        <a id="player2" href="/highscores-player/{{getKeyFromTemporal highscores.data.snapshot.[1]}}">
            <span class="PlayerInfoTitle" data-displayname="Jake"></span>
            {{getKeyFromTemporal highscores.data.snapshot.[1]}}
        </a>
        <a id="player3" href="/highscores-player/{{getKeyFromTemporal highscores.data.snapshot.[2]}}">
            <span class="PlayerInfoTitle" data-displayname="Elias"></span>
            {{getKeyFromTemporal highscores.data.snapshot.[2]}}
        </a>
        <a id="player4" href="/highscores-player/{{getKeyFromTemporal highscores.data.snapshot.[3]}}">
            <span class="PlayerInfoTitle" data-displayname="Elvis"></span>
            {{getKeyFromTemporal highscores.data.snapshot.[3]}}
        </a>
        <a id="player5" href="/highscores-player/{{getKeyFromTemporal highscores.data.snapshot.[4]}}">
            <span class="PlayerInfoTitle" data-displayname="Skit%A0Shape"></span>
            {{getKeyFromTemporal highscores.data.snapshot.[4]}}
        </a>
        <a id="player6" href="/highscores-player/{{getKeyFromTemporal highscores.data.snapshot.[5]}}">
            <span class="PlayerInfoTitle" data-displayname="Telmomarques"></span>
            {{getKeyFromTemporal highscores.data.snapshot.[5]}}
        </a>
        <a id="player7" href="/highscores-player/{{getKeyFromTemporal highscores.data.snapshot.[6]}}">
            <span class="PlayerInfoTitle" data-displayname="AlmostLost"></span>
            {{getKeyFromTemporal highscores.data.snapshot.[6]}}
        </a>
        <a id="player8" href="/highscores-player/{{getKeyFromTemporal highscores.data.snapshot.[7]}}">
            <span class="PlayerInfoTitle" data-displayname="Kingduffy"></span>
            {{getKeyFromTemporal highscores.data.snapshot.[7]}}
        </a>
        <a id="player9" href="/highscores-player/{{getKeyFromTemporal highscores.data.snapshot.[8]}}">
            <span class="PlayerInfoTitle" data-displayname="Paulrat3"></span>
            {{getKeyFromTemporal highscores.data.snapshot.[8]}}
        </a>
        <a id="player10" href="/highscores-player/{{getKeyFromTemporal highscores.data.snapshot.[9]}}">
            <span class="PlayerInfoTitle" data-displayname="Kngkyle"></span>
            {{getKeyFromTemporal highscores.data.snapshot.[9]}}
        </a>
    </div>
</div>
