<div class="InPageDropDownNew NoJS CSS3 width150" id="skillsDropDown"
     data-expand="488px">
    <div class="Mask"></div>
    <div class="DropListWrapper" data-retract="-460px">
        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/DropDownFlourish.webp"
             class="Flourish" alt="">
        <span class="firstValue">{{skill}}</span>
        <ul>
            <li>
                <a href="/temporal-highscores/Overall/{{daysBack}}/1">Overall</a>
            </li>
            <li>
                <a href="/temporal-highscores/Attack/{{daysBack}}/1">Attack</a>
            </li>
            <li>
                <a href="/temporal-highscores/Defence/{{daysBack}}/1">Defence</a>
            </li>
            <li>
                <a href="/temporal-highscores/Strength/{{daysBack}}/1">Strength</a>
            </li>
            <li>
                <a href="/temporal-highscores/Constitution/{{daysBack}}/1">Constitution</a>
            </li>
            <li>
                <a href="/temporal-highscores/Ranged/{{daysBack}}/1">Ranged</a>
            </li>
            <li>
                <a href="/temporal-highscores/Prayer/{{daysBack}}/1">Prayer</a>
            </li>
            <li>
                <a href="/temporal-highscores/Magic/{{daysBack}}/1">Magic</a>
            </li>
            <li>
                <a href="/temporal-highscores/Cooking/{{daysBack}}/1">Cooking</a>
            </li>
            <li>
                <a href="/temporal-highscores/WoodCutting/{{daysBack}}/1">Woodcutting</a>
            </li>
            <li>
                <a href="/temporal-highscores/Fletching/{{daysBack}}/1">Fletching</a>
            </li>
            <li>
                <a href="/temporal-highscores/Fishing/{{daysBack}}/1">Fishing</a>
            </li>
            <li>
                <a href="/temporal-highscores/Firemaking/{{daysBack}}/1">Firemaking</a>
            </li>
            <li>
                <a href="/temporal-highscores/Crafting/{{daysBack}}/1">Crafting</a>
            </li>
            <li>
                <a href="/temporal-highscores/Smithing/{{daysBack}}/1">Smithing</a>
            </li>
            <li>
                <a href="/temporal-highscores/Mining/{{daysBack}}/1">Mining</a>
            </li>
            <li>
                <a href="/temporal-highscores/Herblore/{{daysBack}}/1">Herblore</a>
            </li>
            <li>
                <a href="/temporal-highscores/Agility/{{daysBack}}/1">Agility</a>
            </li>
            <li>
                <a href="/temporal-highscores/Thieving/{{daysBack}}/1">Thieving</a>
            </li>
            <li>
                <a href="/temporal-highscores/Slayer/{{daysBack}}/1">Slayer</a>
            </li>
            <li>
                <a href="/temporal-highscores/Farming/{{daysBack}}/1">Farming</a>
            </li>
            <li>
                <a href="/temporal-highscores/Runecrafting/{{daysBack}}/1">Runecrafting</a>
            </li>
            <li>
                <a href="/temporal-highscores/Hunter/{{daysBack}}/1">Hunter</a>
            </li>
            <li>
                <a href="/temporal-highscores/Construction/{{daysBack}}/1">Construction</a>
            </li>
            <li>
                <a href="/temporal-highscores/Summoning/{{daysBack}}/1">Summoning</a>
            </li>
            <li>
                <a href="/temporal-highscores/Dungeoneering/{{daysBack}}/1">Dungeoneering</a>
            </li>
        </ul>
    </div>
</div>
